{% extends 'task/base.html' %}

{% block content %}

    <form method="POST" action="/">
      <h4>Write Down Your Task</h4>
      <br>
      {% csrf_token %}
      {{ form.task }}
      <button type="submit">Add</button>
    </form>
    <br><hr><hr>
      <center><h4>All Task</h4></center>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Task</th>
              <th>Date</th>
              <th>Update</th>
              <th>Delete</th>
              <!-- <th>Header</th> -->
            </tr>
          </thead>
          
          <tbody>
            {% for post in model %}
              <tr>
              {% if post.complete == 0 %}
                
                  <td>{{ post.task }}</td>
              {% else %}
                  <td><strike>{{ post.task }}</strike></td>
              {% endif %}
                  <td>{{ post.created_at }}</td>
                  <td><a href="{% url 'update' post.pk %}">Update</a></td>
                  <td><a href="{% url 'delete' post.pk %}">Delete</a></td>
                  <!-- <td>sit</td> -->
                </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

{% endblock %}